$primary-color: hsl(0, 0%, 10%);
$secondary-color: hsl(0, 0%, 99%);
$primary-hover-color: hsl(0, 0%, 40%);
$secondary-hover-color: hsl(0, 0%, 70%);
$danger-color: hsl(0, 100%, 51%);
$light-color: hsl(0, 0%, 100%);
$dark-color: hsl(0, 0%, 0%);
$primary-subtext-color: hsl(0, 0%, 30%);
$secondary-subtext-color: hsl(0, 0%, 80%);