.footer
{
    &_main
    {
        &-wrap
        {
            position: fixed;
            width: 100%;
            bottom: 0;
            padding: 25px 0;
            height: 100px;
            z-index: -1;
        }
        &-content
        {
            &-icons
            {
                display: flex;
                align-items: center;
                gap: 10px;
            }
            &-icon
            {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $primary-color;
                border-radius: 100px;
                transition: all ease-in-out 300ms;
                a
                {
                    font-size: 20px;
                    color: $primary-color;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all ease-in-out 300ms;
                }

                &:hover
                {
                    background-color: $primary-color;
                    a
                    {
                        color: $secondary-color;
                    }
                }
            }
            &-copy
            {
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}