.header
{
    &_main
    {

        // MAIN HEADER
        &-wrap
        {
            background-color: $primary-color;
            padding: 30px 0;
            transition: all ease-in-out 300ms;
            
            // INNER WRAP
            &-inner
            {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &.is-sticky
            {
                position: sticky;
                top: 0;
                z-index: 99999;
                padding: 20px 0;
            }

        }

        // LOGO WRAPPER
        &-logo
        {
            font-size: 25px;
            color: $secondary-color;
            font-weight: 900;
        }
        
        // LINKS WRAPPER
        &-links
        {
            display: flex;
            align-items: center;
            gap: 20px;
            list-style-type: none;
            margin-bottom: 0;
        }
        &-link
        {
            a
            {
                color: $secondary-color;
                font-size: 14px;
                font-weight: 500;
                transition: all ease-in-out 300ms;
            }
            &:hover
            {
                a
                {
                    color: $secondary-hover-color;
                }
            }
        }
    }
}